<h3><%=@e.object%></h3>
<h4><%=@e.body%></h4>
 <%= form_tag "/email/#{@e.id}", method: :delete, remote:true do %> <%= submit_tag "Supprimer mail" %> <% end %> 
 <%= form_tag "/email/#{@e.id}", method: :upatch, remote:true do %> <%= submit_tag "Marquer comme non lu" %> <% end %> 